body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#CountDownWrapperId{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container-style{
    position: relative;
    width:90%;
    background-color: rgb(173, 118, 118);
}
.fold-wrapper-style{
    position: relative;
    top: 0px;
    width:100%;
    height: 20px;
    /* min-height: 20px; */
    perspective: 160px;
    background-color:rgb(210, 235, 210);
}
/* card style */
.card-style{
    position: absolute;
    width:100%;
    top:0px;
    cursor: pointer;
    background:rgb(255, 224, 232);
    transform: rotateX(0deg);
    border: 0.2px dotted;
}
.choice-style{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}
.choice-item-style{
    width:30%;
    text-align: center;
}
.choice-item-style:hover{
    background-color: rgb(103, 237, 244);
    border-radius: 0.5rem;
}
.transition-style{
    transition: all 0.5s ease-in-out;
}

.ques-card-style{
    position: relative;
    width:100%;
    text-align: center;
    border: 0.2px dotted;
}
.correct-style{
    background-color: rgb(77, 244, 114);
}
.incorrect-style{
    background-color: rgb(255, 24, 24);
}
/* page select style */
.page-select-wrapper{
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}
/* count down style */
.countdown-style{
    display: flex;
    justify-content: space-around;
    font-size: 3.6rem;
}
/* tool style */
.tool-wrapper-style{
    position: relative;
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-around;
}

.tool-reset, .tool-setting,.tool-start{
    /* width:20%; */
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.tool-setting img{
    width:100%;
    object-fit:cover;
}
.tool-setting:hover{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px lightcoral;
}

.tool-start img{
    width:100%;
    object-fit:cover;
}
.tool-start:hover{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px lightcoral;
}

.tool-reset img{
    width:100%;
    object-fit:cover;
}
.tool-reset:hover{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px lightcoral;
}