*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.widget-main-style{
    position:relative;
    width:100vw;
    height:100vh;
}
.widget-wrapper{
    position:relative;
    background-color:lightblue;
    height:100%;
    display:flex;
    /* flex-direction: column; */
    align-items:center;
    justify-content:center;
}

#clockId{
    background-color: rgba(233, 109, 109, 0.5);
    backdrop-filter: blur(5px);
    font-size: 2rem;
    padding: 5px;
    border-radius:5px;
    box-shadow: 0px 0px 10px rgb(233, 242, 173);
}

/* img-list-wrapper */
.img-list-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:9%;
    row-gap: 5px;
}
/* edit-wrapper */
.edit-wrapper{
    position:relative;
    width:90%;
    height:100%;
    background:rgb(198, 194, 193);
    /* background: transparent; */
    overflow:hidden;
}
.img-editor-area{
    position:absolute;
    top:2%;
    left:1%;
    width:98%;
    height:96%;
    border-radius: 0.5rem;
    overflow:hidden;
    outline:dotted 0.1rem;
    background: transparent;
    z-index:0;
}

#imgId{
    position:absolute;
    width:100%;
}
.img-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    border-radius: 8px;
    /* background-color:white; */
}

.crop-anchor-style{
    opacity: 0;
    box-shadow: 2px 2px 0px rgb(44, 3, 3);
    transition:all 1s ease-out;
}
.img-crop-top{
    position:absolute;
    top:1%;
    left:49%;
    width:20px;
    height:6px;
    border-radius:1rem;
    background-color:white;
}

.img-crop-bottom{
    position:absolute;
    bottom:3px;
    left:50%;
    width:20px;
    height:6px;
    border-radius:1rem;
    background-color:white;
}
.img-crop-bottom:hover,.img-crop-top:hover{
    cursor:ns-resize;
}

.img-crop-left{
    position:absolute;
    top:50%;
    left:1%;
    width:6px;
    height:20px;
    border-radius:1rem;
    background-color:white;
}

.img-crop-right{
    position:absolute;
    top:50%;
    right:3px;
    width:6px;
    height:20px;
    border-radius:1rem;
    background-color:white;
}
.img-crop-left:hover,.img-crop-right:hover{
    cursor:ew-resize;
}
/* clip-btn-style */
.clip-btn-style,.anno-btn-style{
    position:fixed;

    cursor:pointer;
    background-color:bisque;
    border-radius: 50%;
    padding:5px;
    box-shadow: 0px 0px 10px rgb(160, 90, 78);
    transition: all 0.2s ease-out;
    z-index:100;
}

.clip-btn-style{
    right:2rem;
    bottom:2rem;
}
.clip-btn-style:hover{
    background-color:rgb(248, 167, 68);
}

.anno-btn-style{
    left:25%;
    bottom:2rem;
}
/* Extension style */
.notify-btn{
    cursor:pointer;
    display:flex;
    justify-content: center;
    background:rgb(233, 242, 173,0.3);
    width:80%;
    /* padding:5px; */
    border-radius: 6px;
    box-shadow: 1px 2px lightcoral;
}

.ext-img-style{
    width:90%;
    height:auto;
    border-radius:10px;
}
/* Delete style */
.img-del-btn{
    position:absolute;
    top:2%;
    right: 2%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
    background-image:url('./img/delete-icon-hover.png');
    background-position: center center;
    background-size: 100% 100%;

    transition: all 1s ease;
}

.anno-del-btn{
    position:absolute;
    top:-1rem;
    right: -1rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    /* opacity: 0; */
    background-image:url('./img/delete-icon-hover.png');
    background-position: center center;
    background-size: 100% 100%;
    background-color: rgb(100, 43, 43);
    border-radius: 1rem;

    transition: all 0.5s ease;
}