*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.widget-main-style{
    position:relative;
    width:100vw;
    height:100vh;
}
.widget-wrapper{
    position:relative;
    background-color:lightblue;
    height:100%;
    display:flex;
    /* flex-direction: column; */
    align-items:center;
    justify-content:center;
}

#clockId{
    background-color: rgba(233, 109, 109, 0.5);
    backdrop-filter: blur(5px);
    font-size: 2rem;
    padding: 5px;
    border-radius:5px;
    box-shadow: 0px 0px 10px rgb(233, 242, 173);
}

/* img-list-wrapper */
.img-list-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:9%;
    row-gap: 5px;
}
/* edit-wrapper */
.edit-wrapper{
    position:relative;
    width:90%;
    height:100%;
    background-color:rgb(209, 247, 184);
    overflow:hidden;
}
.img-editor-area{
    position:relative;
    top:2%;
    left:1%;
    width:98%;
    height:96%;
    overflow:hidden;
    background:lightcoral;
    z-index:0;
}

#imgId{
    position:absolute;
    width:100%;
}
.img-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;

    background-color:white;
}

.img-crop-top{
    position:relative;
    top:0px;
    left:49%;
    width:2%;
    height:2%;
    border-radius:1rem;
    background-color:white;
}
/* clip-btn-style */
.clip-btn-style{
    position:fixed;
    right:2rem;
    bottom:2rem;

    cursor:pointer;
    background-color:bisque;
    border-radius: 50%;
    padding:5px;
    box-shadow: 0px 0px 10px rgb(160, 90, 78);
    transition: all 0.2s ease-out;
    z-index:100;
}

.clip-btn-style:hover{
    background-color:rgb(248, 167, 68);
}
/* Extension style */
.notify-btn{
    cursor:pointer;
    display:flex;
    justify-content: center;
    background:rgb(233, 242, 173,0.3);
    width:80%;
    /* padding:5px; */
    border-radius: 6px;
    box-shadow: 1px 2px lightcoral;
}

.ext-img-style{
    width:90%;
    height:auto;
    border-radius:10px;
}

